@page "/charting"
@rendermode InteractiveAuto

<h1>Charting</h1>

<p>
    <button id="random" class="btn btn-primary" @onclick="this.CreateRandomStartValueAsync">Create Random Start Value</button>
</p>

<p>
    <input type="text" @bind="this.Start" />
    <button id="start" class="btn btn-primary" @onclick="this.CreateSequenceAsync">Create Sequence</button>
</p>

<p id="currentSequence">Current sequence: @this.CurrentSequence</p>

<canvas @ref=this.ChartReference width="800" height="600"></canvas>